{% extends 'base.html' %}
{% block contenido %}

	<div class="large-12 columns">
  	<h4><a href="/">Inicio</a> /Nuevo Volco</h4>
    <div class=" panel large-12 columns">
      <form  enctype='multipart/form-data' action='' method='POST'>
      	<div class="row">
        	<p style="text-align:center; color:gray;"> <em> Datos de la Volqueta</em></p>
        	
        	<div class="  large-12 columns">
          	{% csrf_token %}
            {{ form.non_field_errors }}
						<label > Placa:
            	{{ form.Placa }}
            </label>
            {% if form.Placa.errors %}
            	{% for error in form.Placa.errors %}
              	<small class="error">
                	{{ error|escape }}
                </small>
              {% endfor %}
            {% endif %}
          </div>

		<div class="large-12 columns">
	        	<label > Chofer:
	          	{{ form.Chofer }}
	          </label>
	          {% if form.Chofer.errors %}
	          	{% for error in form.Chofer.errors %}
	            	<small class="error">
	              	{{ error|escape }}
	              </small>
	            {% endfor %}
	          {% endif %}
	        </div>
        </div>
				<div class="row">

				<br>
    		<div class="large-12 columns">
    			<input style="background-color:#7bac0f" class="button tiny " type='submit' value='Registrar Volqueta'/>
				</div>
  		</form>
		</div>
	</div>

{% endblock %}
